__pycache__/
*.py[cod]
.venv/
venv/
.env
.Rhistory
.RData
.Rproj.user/
*.log
*.mp4
mdp_winscp.txt
Scripts/Pipeline_WPM/en_cours/
Scripts/Pipeline_WPM/lots/
Resultats_traitement/
Resultats/resultats_videos/
Données/Meteo/
Données/inventaire_videos.csv
Données/Table_qualite_videos.xlsx
